@font-face {
    font-family:f  ;
    src: url();
}


@font-face {
    font-family:  F;
    src: url();
}

@font-face {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    src: url();
}