* {
    padding: 0;
    margin: 0;
}


.header {
   width: 100%;
   height: 882px;
   grid-column: 2;
}

.header__main {
    background: url('../img/Bg-hd.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 794px;

}



.nav__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    max-width: 1600px;
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
}

.header__logo {
    align-self: center;
    margin: 0;
    padding: 0;
    height: 43px;
    width: 100%;
    
}

.div__logo {
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: left;
    padding: 0 10px 0 10px;
}

.logo__img {
    height: 43px;
    width: 402px;
    
}

.header__nav {
	align-self: center;
}

.nav__list  {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0 10px 0 10px;
    gap: 15px;
}

.nav__item a {
    text-decoration: none;
    color: black;
    font-family: LatoBold;
    font-size: 16px;
}

.nav__list {
    list-style: none;
}


.main__shop {
    margin-top: 50px;

    width: 100%;
}


.container__shop {
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}


.grid__shop {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: .2fr 1fr ;
    row-gap: 45px;
   
}

.shop__logo {
    grid-column: 1  / span 6;
}

.shop__product1 {
    
    text-align: center;
}

.shop__product2 {
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.shop__product3 {
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.shop__product4 {
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.shop__product5 {
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.shop__logo {
    align-self: center;
    
}

.text__product a {
   
    color: #002D69;
    text-decoration: none;
    font-size: 18px;
    font-family: LatoRegular;
    width: 90px;
}

.text__product  {
    padding-top: 10px;
    
}